<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 text-center">
        <img src="~/App/Main/images/home.png" class="img-responsive" alt="Background Image" />
    </div>
    <div class="col-md-1"></div>
</div>