<div ng-controller="app.views.home as vm">
    <div class="row">
        <div class="col-12 text-center">
            <img src="~/App/Main/images/home.png" alt="Background Image" />
        </div>
    </div>
</div>